{{ define "editPost" }}
<!DOCTYPE html>
<html>
<head>
  {{ template "header" . }}
</head>
<body>
  {{ template "cmsNavbar" . }}
  <div class="main-content">
    {{ if .Errors }}
      <div class="alert alert-error">There were errors when saving the post!</div>
    {{end}}
    <h1>{{ if has .Request.URL.Path "edit"}}Edit{{else}}New{{end}} Post</h1>
    <form target="{{.Request.URL.Path}}" method="POST" id="post-form">
      <div class="form-group row">
        <label for="title" class="col-sm-3 col-form-label">Title</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="title" placeholder="Title">
        </div>
      </div>
      <div class="form-group row">
        <label for="short-url" class="col-sm-3 col-form-label">Short URL</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="shortURL" placeholder="example-short-url">
        </div>
      </div>
      <div class="form-group row">
        <label for="tags" class="col-sm-3 col-form-label">Tags (comma separated)</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" name="tags" placeholder="tags">
        </div>
      </div>
      <div class="form-group row">
        <label for="summary" class="col-sm-3 col-form-label">Summary</label>
        <div class="col-sm-9">
          <textarea class="form-control" rows="5" name="summary" maxlength="250"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="post" class="col-sm-3 col-form-label">Post</label>
        <div class="col-sm-9">
          <a id="show-preview-btn" class="btn btn-secondary">
            Show Preview
          </a>
          <br/>
          <textarea class="form-control post-input" name="post"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-9">
          <button data-value="0" class="btn submit-btn btn-primary">Save</button>
          <button data-value="1" class="btn submit-btn btn-warning">Save and Publish Later</button>
          <button data-value="2" class="btn submit-btn btn-success">Save and Publish Now</button>
          <button data-value="3" class="btn submit-btn btn-danger">Delete</button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal fade preview">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="h3">Post Preview</h1>
        </div>
        <div class="modal-body">
          HTML goes here! :7
        </div>
      </div>
    </div>
  </div>
  {{ template "footer" .}}
  <script>
    $(".submit-btn").click(function(e){
      var numAction = $(this).data('value')
      var postForm = document.forms['post-form'];
      postForm['actionValue'].value = numAction;
      if (numAction === "1") {
        //pull up the date selection modal
      } else {
        document.forms['post-form'].submit();
      }
      e.preventDefault();
    })
    $("#show-preview-btn").click(function(e){
      var content = "<div class='post'>";
      content += document.forms['post-form']['post'].value;
      content += "</div>";
      $(".preview .modal-body").html(content)
      $(".modal-body pre code").each(function(_, a){
        hljs.highlightBlock(a);
      })
      $(".preview").modal("show");
      e.preventDefault();
    })

    function autoSave(){
      var postForm = document.forms['post-form'];
      var autoSaveData = {
        title: postForm['title'].value,
        shortURL: postForm['shortURL'].value,
        tags: postForm['tags'].value,
        summary: postForm['summary'].value,
        postID: postForm['postID'].value,
        actionValue: 0, //0 for save
      };
      $.post("/drafts", autoSaveData).success(function(data){
        var postID = data.data.postID;
        postForm['postID'].value = postID;
      })
    }
  </script>
</body>
</html>
{{end}}
