@import "./header";
@import "./navbar";
@import "./logo";

.main-content {
  padding: 20px 5px;
  margin: 5rem auto auto auto;
  min-width: 600px;
  width: 60%;
  .top-summary {
    padding: 0.5em 1em;
    border: 1px solid grey;
    font-size: 16pt;
    li {
      margin-top: 1em;
      font-size: 12pt;
    }
  }
}
