@import "./header";
@import "./navbar";
@import "./logo";

.main-content {
  padding: 20px 5px;
  margin: 5rem auto auto auto;
  min-width: 600px;
  width: 60%;
  .top-summary {
    font-size: 16pt;
  }
}
