@import "./header";
@import "./navbar";
@import "./logo";
@import "./post";
@import "./cms";

@media screen and (min-width: 600px) {
  .main-content {
    padding: 20px 5px;
    margin: 5rem auto auto auto;
    min-width: 600px;
    width: 60%;
    .top-summary {
      box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
      padding: 0.5em 1em;
      border: 1px solid grey;
      border-radius: 4px;
      font-size: 16pt;
      li {
        margin-top: 1em;
        font-size: 12pt;
      }
    }

  }
  .about__image {
    max-width: 200px;
    margin: 20px;
    &.round {
      border-radius: 100%;
    }
  }
  .narrative {
    padding: 5px;
    font-size: 16pt;
    text-align: left;
  }
}

@media screen and (max-width: 600px) {
  .main-content {
    padding: 20px 5px;
    margin: 5rem auto auto auto;
    .top-summary {
      box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
      padding: 0.5em 1em;
      border: 1px solid grey;
      border-radius: 4px;
      font-size: 16pt;
      li {
        margin-top: 1em;
        font-size: 12pt;
      }
    }
  }
  .about__image {
    max-width: 150px;
    margin: 10px;
    &.round {
      border-radius: 100%;
    }
  }
  .narrative {
    padding: 5px;
    font-size: 14pt;
    text-align: left;
    word-wrap: break-word;
    hyphens: manual;
    -webkit-hyphens: auto;
  }
}
