/*
  This is the file that holds scss for the navbar styles
*/

.navbar.nav-cc {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  .nav-wrapper {
    display: block;
  }
  background-color: #333;
  a {
    color: #52bae3;
  }
  .mobile {
    margin: 0.75em 0;
    .nav-link {
      text-align: center;
    }
    .nav-search {
      padding-left: 20px;
    }
    .nav-search__input {
      margin: 0 auto;
    }
  }
  .navbar-toggler {
    color: #52bae3;
    border-color: #52bae3;
    font-size: 14 pt;
  }
  .nav-link{
    padding: 5px 20px;
    font-size: 16pt;
    &:hover, &.active {
      background-color: #555;
      border-radius: 1px;
    }
    &.no-highlight:hover {
      background-color: transparent!important;
    }
    border-radius: 20px;
    background-color: transparent;
    &.animate{
      transition: border-radius 0.4s ease-out;
    }
  }
  .nav-search {
    padding-top: 5px;
    &::after {
      content:"";
      padding-right: 200px;
      margin: 0;
      height: 0;
      display: block;
    }
    .nav-search__input{
      padding: 5px 20px 5px 40px;
      width: 0px;
      color: #eee;
      cursor: pointer;
      border: 1px solid #333;
      background-image: url("/static/images/search_icon_blue.png");
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: contain;
      &.transition{
        transition: width 0.6s ease, background-color 0.6s ease;
      }

      &:focus {
        cursor: auto;
        border: 1px solid #444;
        width: 200px;
        padding-left: 40px;
        background-color: #555;
        background-image: url("/static/images/search_icon_white.png");
        transition: width 0.6s ease;
      }
    }
  }

}
