{{ define "footer" }}
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link href="{{ .Assets.CSS.URL }}?{{ .Assets.CSS.Version }}" rel="stylesheet">
<script>
  var searchElems = document.getElementsByClassName("nav-search__input");
  for (var i = 0; i < searchElems.length; i++) {
    searchElems[i].classList.add("transition");
  }
</script>
<script src="/static/js/jquery.slim.min.js"></script>
<script src="/static/js/tether.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/styles/default.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.7.0/highlight.min.js"></script>
{{ end }}
